@model uploadFile.Models.doanhngiep

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>doanhngiep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tailieudinhkem.DuongDan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tailieudinhkem.DuongDan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenDN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
